# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v3.2.0
      hooks:
          - id: check-added-large-files
    - repo: local
      hooks:
          - id: pytest
            name: pytest
            entry: ./venv/bin/pytest
            language: system
            types: [python]
            pass_filenames: false
            always_run: true
          - id: prevent-pytest-mark-only
            name: Avoid committing tests with @pytest.mark.only
            entry: bash -c '! grep -rin --include \*.py "@pytest.mark.only" $(git diff --cached --name-only)'
            language: system
            types: [python]
            pass_filenames: false
            always_run: true
          - id: check-do-not-commit
            name: Avoid committing "DO NOT COMMIT"
            entry: bash -c '! grep -rin --exclude=".pre-commit-config.yaml" "DO NOT COMMIT" $(git diff --cached --name-only)'
            language: system
            types: [file]
            pass_filenames: false
            always_run: true
